.blood-request-form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #ffffff, #e4e4e4);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 25px 25px 50px red;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
select,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.dark .blood-request-form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom right, #000000 80%, #ffffff);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 25px 25px 50px rgb(0, 0, 0);
  }