.blood-donation-container {
  max-width: 850px;
  margin: 70px auto;
  margin-bottom: 120px;
  padding: 40px;
  color: black;
  background: linear-gradient(to bottom right, #ffffff, #e4e4e4);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blood-donation-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.blood-donation-container form {
  display: flex;
  flex-direction: column;
}

.blood-donation-container label {
  font-weight: bold;
  margin-bottom: 10px;
}

.blood-donation-container input,
.blood-donation-container select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blood-donation-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 25px;
}

.blood-donation-container button:hover {
  margin: 20px;
  background-color: #0056b3;
}

.blood-donation-container .message {
  text-align: center;
  margin-top: 20px;
}

.blood-donation-container .message p {
  font-weight: bold;
}

.blood-donation-container.success {
  /* Green color */
  color: #000000;
  box-shadow: 25px 25px 50px green;
}

.blood-donation-container.error {
  color: rgb(0, 0, 0);
  box-shadow: 25px 25px 50px red;
}

.dark .blood-donation-container.success {
  /* Green color */
  color: #ffffff;
  box-shadow: 25px 25px 50px green;
}

.dark .blood-donation-container.error {
  color: rgb(255, 255, 255);
  box-shadow: 25px 25px 50px rgb(0, 0, 0);
}

.dark .blood-donation-container {
  max-width: 850px;
  margin: 70px auto;
  margin-bottom: 120px;
  padding: 40px;
  color: white;
  background: linear-gradient(to bottom right, #000000 80%, #ffffff);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 25px 25px 50px rgb(0, 0, 0);
}
